<h1>Tool Connect</h1>
<h2>Connecting the haves with the have nots</h2>
<nav>
  <% if user_signed_in? %>
    <%= link_to 'Edit account', edit_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-light', method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
  <% end %>
</nav>